div.playground {
	border : 0.2rem;
	border-style : double;
	background : blue;
	height : 100%;
}
div.columncontainer {
	height : 80.2%;
	width : 75%;
}

div.column {
	border : 0.1rem;
	border-style : dashed;
	background : lime;
	height : 100%;
	width : 11.5%;
	float : left;
}

div.addingContent {
	float: right;
	color: white;
}

div {
	outline : 1px solid black;
}

div.clickableDiv {
	cursor: pointer;
}

div.demonstrator {
	float: right;
	height: 18%;
	width: 20%;
	position: relative;
	top: -80%;
	background: white;
	overflow: auto;
}