caption#mes {
    padding: 70px 25px;
    width: 96%;
    background: #1abc9c;
    text-align: center;
	color: white;
	font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
	height: 0.1px;
}

tr#dias{
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

tr#nrdias{
	padding: 10px 0;
    background: #eee;
    margin: 0;
}