div.playground {
	border : 0.2rem;
	border-style : double;
	background : #404040;
	height : 100%;
}
div.columncontainer {
	height : 80.2%;
	width : 25%;
}

div.column {
	box-sizing: border-box;
	border : 0.1rem;
	border-style : dashed;
	background : gray;
	height : 100%;
	width : 50%;
	float : left;
}

div.addingContent {
	float: right;
	color: white;
}

div {
	outline : 1px solid black;
}

div.clickableDiv {
	cursor: pointer;
}

div.demonstrator {
	float: right;
	height: 40%;
	width: 40%;
	position: relative;
	top: -80%;
	background: white;
	overflow: auto;
}

h1.headline{
	margin: 0;
	display: inline-block;
}