div.playground {
	border : 0.2rem;
	border-style : double;
	background : #404040;
}
div.columncontainer {
	width : 25%;
	float:left;
}

div.column {
	box-sizing: border-box;
	border : 0.1rem;
	border-style : dashed;
	background : gray;
	height : 100%;
	width : 50%;
	float : left;
}

div.addingContent {
	margin: 1ex;
	float: right;
	clear:right;
	color: white;
	margin-right: 20%
}

div {
	outline : 1px solid black;
}

div.clickableDiv {
	cursor: pointer;
}

div.demonstrator {
	float: right;
	height: 40%;
	width: 40%;
	background: white;
	overflow: auto;
}

div.time {
	font-size:1.5ex;
}

h1.headline{
	margin: 0;
	display: inline-block;
}